.App{
    
    height: 100vh;
    background: rgb(241, 241, 245);
    background: linear-gradient(0deg, rgb(226, 230, 231) 100%, rgba(254,255,255,1) 100%, rgba(232,237,238,0.9976365546218487) 100%, rgba(0,212,255,1) 100%);}

